:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --gold-color: rgb(230, 157, 63);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, html, body {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

