.opening {
    position: fixed;
    inset: 0;
    background-color: white;
    
    width: 100vw;
    height: 100vh;

    z-index: 1;
    overflow: hidden;

    opacity: 1;

    animation: fadeOut 3s forwards;
}

.opening > .logo {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;
}

.opening > .logo > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.opening > .logo > p {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.close_opening {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        box-shadow: inset 0 0 0 black;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 50px black;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(0.5);
    user-select: none;
}

.history {
    position: absolute;
    margin-top: 75vh;

    width: 100%;
    height: 50vh;

    padding: 48px 0;

    transition: background-color .3s ease;
}

.active_background {
    background-color: black;
}

.history > h1 { 
    text-align: center;
}

.history > .icon {
    margin: auto;
    width: min-content;
}

.icon a {
    color: white;
}

.icon svg {
    width: 40px;
    height: 40px;
}

.text {
    width: 90%;
    margin: 16px auto;
}