.opening {
    position: fixed;
    inset: 0;
    background-color: white;
    
    width: 100vw;
    height: 100vh;

    z-index: 2;
    overflow: hidden;

    opacity: 1;

    animation: fadeOut 3s forwards;
}

.opening > .logo {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;
}

.opening > .logo > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.opening > .logo > p {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.close_opening {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        box-shadow: inset 0 0 0 black;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 50px black;
    }
}

main {
    padding-bottom: 70px;
    background-color: black;
}

section {
    width: 100%;
}

.banner {
    height: 100vh;
    position: relative;
    z-index: 0;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(0.5);
    user-select: none;

    position: absolute;
}

.banner > .logo {
    position: relative;
    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;
}

.banner > .logo > img {
    width: 100px;
    border-radius: 50%;
}

.history {
    position: relative;
    margin-top: -200px;

    padding: 48px 0;

    z-index: 1;

    transition: background-color .3s ease;
}

.active_background {
    background-color: white;
    color: black;
}

section > h1 { 
    text-align: center;
    color: rgb(230, 157, 63);
    filter: drop-shadow(0 0 5px rgba(230, 157, 63, 0.3));
}

.history > .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin: auto;
    width: min-content;
}

.icon a {
    color: white;
}

.icon svg {
    width: 40px;
    height: 40px;
}

.text {
    width: 90%;
    margin: 16px auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    text-align: justify;
}

.highlight_text {
    font-weight: 600;
}

.divisor {
    height: 4px;
    width: 90%;
    background-color: rgb(230, 157, 63);
    margin: auto;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* padding: 48px 0; */
    background-color: black;
    padding: 48px 0;
}

section.highlight > div {
    margin: auto;
    width: 90%;
}

.highlight > div > h2 {
    filter: drop-shadow(0 0 10px rgb(230, 157, 63));
}

.vision {
    text-align: end;
}

.value {
    text-align: center;
}

.highlight .highlight_text {
    color: rgb(230, 157, 63);
}

footer {
    background-color: black;
}

footer > section {
    width: 90%;
    margin: auto;
    padding-bottom: 70px;
}

footer > section > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer > section > ul > li {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: auto;
    width: 80%;
    cursor: pointer;
    transition: .3s ease all ;
    padding: 8px 0;

    position: relative;
}

footer > section > ul > li:hover {
    color: rgb(230, 157, 63);
}

footer > section > ul > li::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 110%;
    height: 1px;
    background: rgb(230, 157, 63);
}

footer > section > ul > li:last-child::after {
    display: none;
}


footer > section > ul > li > span.icon > svg {
    height: 40px;
}

footer > section > ul > li > a {
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}